:root
{
    --backgroung : rgb(27, 27, 27);
    --fb_blue : rgb(73, 119, 247);
    --header_color  : rgb(39, 39, 39);
    --font-color : rgb(212, 209, 209);
    --user-icon : white;
    --user-background : rgba(212, 212, 212, 0.884); 
}

body
{
    background-color: var(--backgroung);
    
}
header
{
    width: 100%;
    height: 5%;
    left: 0;
    top: 0;
    border-bottom: .1px solid white;
    position: fixed;
    background-color: var(--header_color);
    
}
.logo-container
{
    position: inherit;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    left: 0%;
    background-color: var(--fb_blue)
}
.list-container
{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
ul 
{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    top: -35%;
}
.list-container ul li
{
    display: flex;
    margin-right: 10px;
    font-size: 25px;
    margin-top: 10px;
} 
 ul li a
{
    font-style: none;
    color: var(--font-color);
    height: 38px;
    width: 60px;
    
   
}
/*.list-container ul li a:active
{
    color: var(--fb_blue);
    border-bottom: 4px solid var(--fb_blue);

}*/
#home
{
    color: var(--fb_blue);
    border-bottom: 4px solid var(--fb_blue);
}
.second-list
{
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 10px;
    display: flex;
    text-align: right;
    justify-content: right;
    
}
.second-list ul li
{
    display: flex;
}
button
{
    background-color: var(--backgroung);
    border: none;
    font-size: 25px;
    color: var(--font-color);
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 1px;   
}
#user-home
{
    background-color: var(--user-background);
    color: var(--user-icon);
}


.left-side
{
    position: fixed;
    height: 95%;
    width: 20%;
    bottom: 0;
}
.container
{
    height: 200%;
    position: absolute;
    width: 78%;
    right: 0;
    top: 6%;
    
}
.stories-container
{
    background-color: var(--header_color);
    width: 50%;
    height: 15%;
    left: 11%;
    border-radius: 10px;
    position: absolute;

}
.stories-container button
{
    width: 49%;
    height: 20%;
    font-size: 20px;
    background-color: transparent;
}
.stories-container button:hover
{
    background-color: grey;
    border-radius: 10px;
}
.stories
{
    
    width: 100%;
    height: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
/*.create-story
{
    height: 100%;
    width: 20%;
    border-radius: 10px;
    background-color: black;
    position: relative;
   
}*/
.story
{
    height: 100%;
    width: 20%;
    border-radius: 10px;
    margin-left: 5px;
    display: inline-block;
    background-color: black;
    position: relative;
}
.make-post
{
    background-color: var(--header_color);
    width: 50%;
    height: 8%;
    left: 11%;
    top: 15.5%;
    border-radius: 10px;
    position: relative;

}
.posts
{
    width: 61%;
    height: 76%;
    bottom: 0;
    position: absolute;
}
.post
{
    height: 10%;
    width: 82%; 
    position: relative;
    right: 0;
    display: flex;
    float: right;
    background-color: var(--header_color);
    margin-bottom: 1%;
}
#with_pic 
{
    height: 40%;
}