

body
{
    background-color: rgb(27, 27, 27);
}
header
{
    width: 100%;
    height: 5%;
    left: 0;
    top: 0;
    border-bottom: .1px solid white;
    position: fixed;
    background-color: rgb(39, 39, 39);
    
}
.logo-container
{
    position: inherit;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    left: 0%;
    background-color: rgb(73, 119, 247);
}
.list-container
{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    left: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.list-container ul 
{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    top: -35%;
}
.list-container ul li
{
    display: flex;
    margin-right: 10px;
    font-size: 30px;
    margin-top: 10px;
} 
.list-container ul li a
{
    font-style: none;
    color: rgb(212, 209, 209);
    height: 38px;
    width: 60px;
    
   
}
#home
{
    color: rgb(73, 119, 247);
    border-bottom: 4px solid rgb(73, 119, 247);
}